<form action="/authentication/sign-up" method="POST">
  <label for="input-username">Username</label>
  <input type="text" id="input-username" name="username" placeholder="Your Username" />

  <label for="select-role">Role</label>
  <select id="select-role" name="role">
    <option value="student" selected>Student</option>
    <option value="assistant">Assistant</option>
    <option value="teacher">Teacher</option>
  </select>

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />

  <button>Sign Up</button>
</form>